[Unit]
Description=Create DCV Virtual Session
After=dcvserver.service
Requires=dcvserver.service

[Service]
Type=oneshot
RemainAfterExit=yes
# Wait for DCV server to be fully ready
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/dcv create-session --type virtual --owner ubuntu --init /etc/dcv/dcv-virtual-session.sh gui
ExecStop=/usr/bin/dcv close-session gui

[Install]
WantedBy=multi-user.target
